<a href="https://colab.research.google.com/github/NoBrainerCoder/2025-26-4078-EVEN-IBAADKHAN-AI-B-DS/blob/main/10_02_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David'],
    'Age': [25, 30, 27, 22]
}

df = pd.DataFrame(data)

print("Original DataFrame")
print(df)

print(df['Name'] == 'Alice')
print(df['Name'] == 'Charlie')

Original DataFrame
     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27
3   David   22
0     True
1    False
2    False
3    False
Name: Name, dtype: bool
0    False
1    False
2    False
3    False
Name: Name, dtype: bool

In [3]:

import pandas as pd

data = {
    "Name": ["A", "B", "C", "D"],
    "Marks": [20, 40, 35, 45],
    "Age": [18, 20, 19, 18]
}

df = pd.DataFrame(data)
print("Original Data")
print(df)

df["Bonus"] = 5
print("After adding Bonus")
print(df)

df["Marks"] = df["Marks"] + 2
print("After increasing Marks")
print(df)

df["Total"] = df["Marks"] + df["Bonus"]
print("After adding Total")
print(df)

Original Data
  Name  Marks  Age
0    A     20   18
1    B     40   20
2    C     35   19
3    D     45   18
After adding Bonus
  Name  Marks  Age  Bonus
0    A     20   18      5
1    B     40   20      5
2    C     35   19      5
3    D     45   18      5
After increasing Marks
  Name  Marks  Age  Bonus
0    A     22   18      5
1    B     42   20      5
2    C     37   19      5
3    D     47   18      5
After adding Total
  Name  Marks  Age  Bonus  Total
0    A     22   18      5     27
1    B     42   20      5     47
2    C     37   19      5     42
3    D     47   18      5     52

In [4]:
# Selection sort
n = int(input("enter number of elements:"))

arr = []

for i in range(n):
    arr.append(int(input(f"enter element {i+1}:")))

print("\n Original array:", arr)

# selection sort logic
for i in range(n-1):
    min_index = i
    for j in range(i+1, n):
        if arr[j] < arr[min_index]:
            min_index = j

    # swap found min element with first element
    arr[i], arr[min_index] = arr[min_index], arr[i]

print("sorted array:", arr)

enter number of elements:1
enter element 1:2

 Original array: [2]
sorted array: [2]

In [5]:
# Bubble sort
n = int(input("enter num of elements:"))

arr = []

for i in range(n):
    arr.append(input(input(f"enter element {i+1}:")))

print("\n Original array:", arr)

# Bubble sort logic
for i in range(n-1):
    for j in range(n-1-i):
        if arr[j] > arr[j+1]:
            # Swap
            arr[j], arr[j+1] = arr[j+1], arr[j]

print("Sorted array:", arr)

enter num of elements:4
enter element 1:3
34
enter element 2:5
58
enter element 3:0
02
enter element 4:3
34

 Original array: ['4', '8', '2', '4']
Sorted array: ['2', '4', '4', '8']

In [9]:
# linear search

n = int(input("enter no. of elements: "))
arr = []

for i in range(n):
    arr.append(int(input(f"enter element {i}: ")))

key = int(input("enter element to search: "))

found = False

for i in range(n):
    if arr[i] == key:
        print(f"element {key} found at position {i+1}")
        found = True
        break

if not found:
    print("element not found")

enter no. of elements: 3
enter element 0: 1
enter element 1: 2
enter element 2: 3
enter element to search: 3
element 3 found at position 3