<a href="https://colab.research.google.com/github/NoBrainerCoder/DS_LAB_IBAAD_KHAN_4078/blob/main/10_02_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David'],
    'Age': [25, 30, 27, 22]
}

df = pd.DataFrame(data)

print("Original DataFrame")
print(df)

print(df['Name'] == 'Alice')
print(df['Name'] == 'Charlie')

Original DataFrame
     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27
3   David   22
0     True
1    False
2    False
3    False
Name: Name, dtype: bool
0    False
1    False
2    False
3    False
Name: Name, dtype: bool